<div class="bookname">
<head>{{book.bookName}}</head>
	<br>
	<br>
<div class="table">	
	<a class="book-detail">Author:{{book.author}}</a>
	<a class="book-detail" target="_blank" href="{{book.link}}">Buy on Amazon!</a>	
	<br>
	<br>
</div>
</div>