<div class="home">
	<p>Click on book to see the details</p>
	<br>
	<br>
	<div class="list-books">
		{{#each books}}<a class="list-book" href="/books/{{bookNumber}}">{{bookName}}</a>{{/each}}
	</div>
</div>