.home>p {color: #000000;}

.table {
  width: auto;
  border: 1px solid #000000;}

.book-detail {
  display: inline-block;
  padding: 10px;
  color: #000000;
}

.list-books{
  width: fit-content;
  border: 1px solid #000000;
}

.list-book {
  display: flex;
  padding: 14px;
  border: 1px solid #000000;
}


