<!doctype html>
<html>

<head>
    <title>home</title>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css" >
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/style.css" >
</head>

<body>
    {{{body}}}
</body>

</html>